{% extends "layout.html" %}
{% block content %}
    <header>
      <div class="container">
        {% if config.THEME_SETTINGS.profilepicture %}
        <div class="row">
          <div class="col-xs-10 col-md-6 col-centered logo">
            <img alt="profile-picture" class="img-responsive" src="{{ config.THEME_SETTINGS.profilepicture | asseturl }}">
          </div>
        </div>
        {% endif %}
        <div class="row">
          <div class="col-xs-10 col-sm-8 col-md-6 col-centered event-title text-center">
            <h1 id="event-title">{{ config.THEME_SETTINGS.name | upper }}</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-10 col-sm-8 col-md-6 col-centered">
            <p class="text-center">{{ config.THEME_SETTINGS.about }}</p>
          </div>
        </div>
      </div>
    </header>

    <h1 class="text-center" id="venue">release v3.0 - 2019-11-09 @ Creditas</h1>
    <div class="row">
      <div class="col-xs-12">
        <p class="text-center">
          Olá pessoal! Está confirmada a terceira edição do JustPython!!<br>
          Vamos falar de python, e apenas python, com palestras de grandes pessoas da comunidade!!<br>
          O encontro será na <a href="https://www.google.com.br/maps/place/Creditas/@-23.5988386,-46.690239,15z/data=!4m5!3m4!1s0x0:0xd5796b9fb756e2b4!8m2!3d-23.5988386!4d-46.690239">Creditas</a>, no dia 09/11/2019, das 08h30 às 18h00.
        </p>
      </div>
    </div>

   <h1 class="text-center" id="agenda">Agenda:</h1>
   <div class="row">
    <div class="col-xs-12">
      <p class="text-center">
        <em>Sujeito a mudanças</em>
      </p>
      <table class="table">
        <thead>
          <th class="col-md-2">Horário</th>
          <th class="col-md-2">Palestrante</th>
          <th>Descrição</th>
        </thead>
        <tbody>
          <tr class="success">
            <td>08:30 - 09:00</td>
            <td></td>
            <td><strong>Credenciamento</strong></td>
          </tr>
          <tr>
            <td>09:00 - 09:30</td>
            <td>Fábio Serrão</td>
            <td>Escrevendo um interpretador LISP com Python</td>
          </tr>
          <tr>
            <td>09:30 - 10:00</td>
            <td>Regis da Silva</td>
            <td>Inserindo 14.000.605 registros num banco de dados em 1 segundo</td>
          </tr>
          <tr class="success">
            <td>10:00 - 10:30</td>
            <td></td>
            <td><strong>Café</strong></td>
          </tr>
          <tr>
            <td>10:30 - 11:00</td>
            <td>R Nuccitelli</td>
            <td>Vamos entender string e bytest de uma vez por todas?</td>
          </tr>
          <tr>
            <td>11:00 - 11:30</td>
            <td>David Kwast</td>
            <td>Leitura e gravação de arquivos DBASE3</td>
          </tr>
          <tr>
            <td>11:30 - 12:00</td>
            <td>Alexandre Harano</td>
            <td>Comprehensions: ler, entender e utilizar</td>
          </tr>
          <tr>
            <td>12:00 - 12:30</td>
            <td>Nicolas Zein</td>
            <td>Vamos fazer mágica - Explorando os magic methods do Python</td>
          </tr>
          <tr class="success">
            <td>12:30 - 14:00</td>
            <td></td>
            <td><strong>Almoço</strong></td>
          </tr>
          <tr>
            <td>14:00 - 14:30</td>
            <td>Renan Moura</td>
            <td>Resolvendo o problema de designação em uma abordagem "greedy"</td>
          </tr>
          <tr>
            <td>14:30 - 15:00</td>
            <td>Alynne Ferreira</td>
            <td>Moça, pode repetir? - Laços de repetição com Python</td>
          </tr>
          <tr>
            <td>15:00 - 15:30</td>
            <td>Cesar Augusto</td>
            <td>Chega de Framework web, vamos fazer uma aplicação web só com Python</td>
          </tr>
          <tr>
            <td>15:30 - 16:00</td>
            <td>Danilo J. S. Bellini</td>
            <td>Assignment expressions do zero ao anti-herói</td>
          </tr>
          <tr class="success">
            <td>16:00 - 16:30</td>
            <td></td>
            <td><strong>Café</strong></td>
          </tr>
          <tr>
            <td>16:30 - 17:00</td>
            <td>Bruno Rocha</td>
            <td>Chega de Pytest e Unittest - Vamos escrever nosso próprio test framework em 60 linhas de puro Python</td>
          </tr>
          <tr class="warning">
            <td>17:00 - 17:20</td>
            <td></td>
            <td><strong>Lightning Talks</strong></td>
          </tr>
          <tr class="info">
            <td>17:20 - 18:00</td>
            <td><strong>Luciano Ramalho</strong></td>
            <td><strong>[keynote] Builtins: jóias que não precisa nem importar</strong></td>
          </tr>
        </tbody>
      </table>
    </div>
   </div>

    <h1 class="text-center" id="venue">Local</h1>
    <div class="row">
        <div class="col-xs-12 ">
        <div class="background center-block">
          <div class="transbox">
            <p class="text-center">09 de Novembro de 2019<br/>Av. Engenheiro Luís Carlos Berrini, 105 - 12 andar - Brooklin Novo - São Paulo</p>
          </div>
        </div>
        <div class="google-maps">
          <iframe class="center-block"
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.153220483909!2d-46.69204688502165!3d-23.598837284664267!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5734fdf62e21%3A0x5deeab36f4b37686!2sAv.%20Engenheiro%20Lu%C3%ADs%20Carlos%20Berrini%2C%20105%20-%2012%20andar%20-%20Brooklin%20Novo%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2004571-010!5e0!3m2!1sen!2sbr!4v1573076264754!5m2!1sen!2sbr"
                  allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <br/>
    <h1 class="text-center" id="about">Proposta do evento</h1>
    <div class="row">
      <div class="col-xs-12">
        <p class="text-center">
          Atualmente, a maioria dos eventos de Python são sobre muitas coisas: estruturas, aplicativos e comunidade.
          É muito positivo atender às necessidades da indústria e da comunidade.
          Mas às vezes sentimos falta do python, puro Python.
          Nossa intenção é fazer uma conferência apenas de Python!<br/><br/>
          Conheça a fundo nossa proposta de eventos <strong style="font-family: 'Concert One', cursive;">JUST PYTHON</strong> através do nosso <a href="/manifesto"><strong>Manifesto JUST PYTHON</strong></a>
        </p>
      </div>
    </div>

    <h1 class="text-center" id="talks">Codigo de conduta</h1>
    <div class="row">
      <div class="col-xs-12">
        <p class="text-center">
          Para termos um ambiente amistoso, de boa convivência, inclusivo e livre de intimidação, onde todas as pessoas são bem-vindas. Civilidade é exigida!
          Definimos um <a href="/cdc"><strong>Código de Conduta</strong></a>, baseado no Código de Conduta do Evento Python Brasil.
          Leia-o atentamente e respeite as regras de boa convivência, para termos um evento maravilhoso e proveitoso a todos.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 user-social text-center">
        <h1 class="text-center">Redes sociais</h1>
        {% include "partials/social.html" %}
      </div>
    </div>
{% endblock content %}
